<div style="margin-top: 5%" align="center"><h3>Location Safety</h3></div>
<div style="margin: 5%; margin-top: 10%">
<input type="text" name="venue" list="venueList">
<datalist id="venueList">
  <option value="Keels-Bambalapitiya">No suspect cases  [SAFE]</option>
  <option value="Keels-Wellawaththa">One suspect 2 days before [UNSAFE]</option>
  <option value="Keels-kollupitiya">No suspect cases [SAFE]</option>
  <option value="KFC-Bambalapitiya">No suspect cases [SAFE]</option>
  <option value="KFC-Wellawaththa">No suspect cases [SAFE]</option>
  <option value="KFC-kollupitiya">No suspect cases [SAFE]</option>
  <option value="PizzaHut-nugegoda">No suspect cases [SAFE]</option>
  <option value="Dinamore - kohuwala">No suspect cases - kohuwala [SAFE]</option>
  <option value="PizzaHut-kollupitiya">No suspect cases [SAFE]</option>
</datalist>
</div>
